name: Facebook Live Stream

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          # استخدمنا خيارات إضافية لضمان قراءة الـ m3u8 بدون تقطيع
          ffmpeg -re -i "http://5-host.xyz:8080/live/177716153252/17laOe555B/430933.m3u8" \
          -c:v copy -c:a aac -strict experimental -f flv \
          "rtmps://live-api-s.facebook.com:443/rtmp/FB-907604004962838-0-Ab7JD1tTZvD9Mzw-W8JDnYVO"
          
