name: IPTV to Telegram Express

on:
  workflow_dispatch:

jobs:
  download_and_send:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Download 5 Minutes from IPTV
        run: |
          # تحميل 5 دقائق بجودة عالية مع تمويه السيرفر
          ffmpeg -i "http://5-host.xyz:8080/live/177716153252/17laOe555B/431637.m3u8" \
          -t 300 -c copy -user_agent "Mozilla/5.0" final_video.mp4

      - name: Send to Telegram
        run: |
          # إرسال الملف فوراً بعد انتهاء التحميل
          curl -v -F "video=@final_video.mp4" \
          "https://api.telegram.org/bot8553237214:AAGnvhfyXa-B5Wkm3g_VQTRVbbr0ShyYM0U/sendVideo?chat_id=6849625315"
          
