name: Send Saved Video to Telegram

on:
  workflow_dispatch:

jobs:
  telegram_upload:
    runs-on: ubuntu-latest
    steps:
      # 1. سحب الملف الذي حفظناه سابقاً في GitHub
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: my-5-minute-video

      # 2. إرساله إلى تليجرام باستخدام معلوماتك
      - name: Send Video File
        run: |
          curl -v -F "video=@test_clip.mp4" \
          "https://api.telegram.org/bot8553237214:AAGnvhfyXa-B5Wkm3g_VQTRVbbr0ShyYM0U/sendVideo?chat_id=6849625315"
          
